body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #14121b;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100vw;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.preferences {
    flex-grow: 1;
    width: min(100%, 50em);
}